<%= provide(:title, "Fun Facts") %>
<div id="fun_facts">



<div class="row">
<div class="col-md-4 hidden-xs">
<%= image_tag('suzanne_2.png', class: "img-responsive") %>
</div>
  <div class="col-md-8 col-xs-12">
    <% counter = 1 %>
    <table>
      <% @fun_facts.each do |fact| %>
      <tr>
        <td class="counter text-left"><%= counter %></td>
        <td class="text-left"><%= simple_format(fact.fact) %></td>
      </tr>
        <% counter += 1 %>
      <% end %>
    </table>
  </div>
</div>
</div>