<!-- Video -->
<div class="row">
  <div class="col-md-12 col-xs-12">
<!--     <iframe width="560" height="315" src="//www.youtube.com/embed/-pk_5uAsumY?rel=0" frameborder="0" allowfullscreen></iframe>
 -->
<%= video_tag(["intro.mp4", "ingro.ogv", "intro.mov", "intro.webm"], :size => "560x315", :controls => true, :autobuffer => true) %>
    </div>
</div>

<!-- Blog -->
<div class="row blog">
  <div class="col-md-12 col-xs-12 ">
    <h3 class="text-center"><strong><%= @current_blog.title%></strong></h3>
    <%= simple_format(@current_blog.content) %>
  </div>
</div>
