<div class="row">
  <div class="col-md-12 col-xs-12">
    <iframe width="560" height="315" src="//www.youtube.com/embed/-pk_5uAsumY?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>

<div class="row blog">
<div class="col-md-12 col-xs-12 ">
<h3 class="text-center"><strong>Lorem Ipsum</strong></h3>
<h5 class="text-center"><%= DateTime.now.strftime('%m/%d/%Y at %I:%M%p')  %></h5>
<%= simple_format("

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel tristique ipsum. Aenean euismod lorem id nulla hendrerit hendrerit nec ut eros. Maecenas pharetra hendrerit gravida. Mauris convallis non odio porta pharetra. Curabitur vestibulum porttitor pharetra. Vivamus egestas, leo et luctus faucibus, velit neque scelerisque odio, ac aliquam sapien nisi quis nibh. Suspendisse porta elementum auctor. Integer venenatis tempus viverra. Maecenas eleifend nisi in aliquet congue.

Pellentesque pretium et erat nec vulputate. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla facilisi. In sodales sem quis nisl posuere, non interdum nisi elementum. Ut vel varius magna. Duis ac nisl lobortis, fermentum quam in, luctus nunc. Nunc id augue facilisis, commodo lacus vel, convallis dui. Aliquam varius massa id condimentum cursus. Nullam eget dignissim turpis. Cras vel lacus in elit blandit laoreet nec at tortor. Nam congue eleifend mi, a interdum augue faucibus varius. Nulla fringilla imperdiet turpis, ac hendrerit nulla placerat a. Integer accumsan, lectus eget accumsan porta, nibh erat interdum lectus, id faucibus lectus libero id orci. Pellentesque dapibus a nulla at posuere. Nulla interdum iaculis cursus.

Suspendisse rutrum, velit nec ultrices sagittis, felis mi sagittis diam, nec varius est dolor quis est. Mauris sit amet vulputate enim. Aliquam erat volutpat. Cras porttitor elit id est dapibus, sed placerat sem laoreet. In vel imperdiet tellus, ac malesuada augue. Suspendisse a felis aliquet, bibendum turpis quis, sagittis ante. Mauris sagittis vulputate quam sit amet tristique. Nunc eget pretium odio, ut pharetra nisi. Duis dictum, leo sed eleifend accumsan, mi arcu ultricies mi, at auctor turpis nulla non turpis. Cras blandit enim at ipsum placerat egestas. Ut eget iaculis erat. Praesent faucibus pretium leo eu gravida. Quisque porta ipsum quis dolor elementum, in lobortis erat faucibus. In mattis dui vestibulum nisl dictum gravida.

Sed hendrerit facilisis mauris ut pharetra. Vestibulum venenatis lectus id interdum tempor. Quisque eget turpis nec sapien dictum rutrum vitae nec metus. Sed mollis facilisis rhoncus. Quisque non tellus vel arcu varius tincidunt. Phasellus congue sagittis ante, quis elementum leo molestie vitae. Curabitur at ultrices purus.

Ut ac convallis erat. Phasellus sed dui a erat vestibulum fringilla et blandit nisl. Vivamus nec varius diam. Donec ut mi rutrum, hendrerit est a, commodo ligula. Pellentesque gravida, quam nec lacinia condimentum, ipsum diam facilisis massa, ultricies eleifend ligula neque ut est. Morbi fringilla turpis eget massa ullamcorper condimentum. Maecenas dignissim egestas pretium. Morbi nunc risus, eleifend at quam vitae, blandit euismod arcu. Sed cursus, risus ac congue accumsan, nunc urna faucibus dolor, sit amet rutrum diam enim sed urna. Nullam egestas turpis purus, in sollicitudin nisi vehicula nec. Pellentesque faucibus libero eget volutpat tempor. Fusce porttitor ornare vulputate. Duis mollis lorem quis est congue porta. Proin auctor molestie tellus, et consectetur turpis dictum at. ") %>
</div>
</div>
