<!-- Video -->
<div class="row">
  <div class="col-md-10 col-md-offset-1 col-xs-12 home_video">

<video id="video" controls poster="/assets/poster.png">
    <source src="/videos/intro2.m4v" type="video/mp4"/>
    <source src="/videos/intro2b.webm" type="video/webm"/>
        <source src="/videos/intro2b.ogv" type="video/ogg"/>
<!--                 <source src="/videos/intro2.mp4" type="video/mp4"/>
 -->

    Your browser doesn't seems to support video tag
</video> 
    </div>
</div>

<!-- Blog -->
<div class="row blog">
  <div class="col-md-10 col-md-offset-1 col-xs-12">
    <h3 class="text-center"><strong><%= @current_blog.title%></strong></h3>
    <%= simple_format(@current_blog.content) %>
  </div>
</div>
