<%= provide(:title, "Praise") %>
<h2 class="text-center">PRAISE</h2>

<div class="row praise">
  <div class="col-md-12 col-xs-12">
    <% @praises.each do |praise| %>
      <blockquote>
        <div class="text-justify ">
          <%= "\"#{praise.content}\"" %>
        </div>
        <div class="text-left ">
          <strong><%= "-#{praise.name}" %> </strong>
          <br />
          <strong><%= praise.position %></strong>
        </div>
      </blockquote>
      <% end %>
  </div>
</div>
