<!-- First Row, headshot and logo -->

<%if params[:action] != "test" %>
<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="col-xs-4 col-md-4 image_container">
      <%= image_tag('suzanne_cropped.png', class: "img-responsive profile-photo") %>
    </div>
    <div class="col-xs-4"></div>
    <div class="col-xs-4 col-md-4 col-md-offset-4 text-center logo-container ">
      <%= image_tag('darklogo_cropped_with_name.png', alt: "Suzanne Altshuler",class: "img-responsive logo") %>
    </div>
  </div>
</div>

<!-- Second Row, tagline -->
<div class="row">
  <div class= "col-md-12 col-xs-12 tagline">
    A proven sales <span class="gray">and </span><span class="white">marketing leader</span>
  </div>
</div>

<% else %>

<div class="test">
<div class="row">
  <div class="col-xs-12 col-md-12">
<div class="col-xs-4 col-md-4  text-center logo-container ">
      <%= image_tag('base_logo.png', alt: "Suzanne Altshuler",class: "img-responsive logo") %>
    </div>
    <div class="col-xs-4"></div>
        <div class="col-xs-4 col-md-offset-4 col-md-4 image_container">
      <%= image_tag('suzanne_cropped.png', class: "img-responsive profile-photo") %>
    </div>
    
  </div>
</div>

<!-- Second Row, tagline -->
<div class="row">
  <div class= "col-md-12 col-xs-12 tagline">
   The Challenge <span class="gray">is </span><span class="white">the Opportunity.</span>
  </div
</div>

<% end %>