              <div class="row">
  <div class="col-md-12 text-center social_links ">

    <ul class="list-inline text-center">
          <div class="contact_me_text">Contact Me:&nbsp;&nbsp;</div>
        <li class="email"><%= mail_to("suzanne@suzannealtshuler.com") do %>
          <i class="icon-envelope-alt icon-2x"></i>
          <% end %>
        </li>

        <li class="twitter">
          <%= link_to("#") do %>
            <i class="icon-twitter icon-2x"></i>
          <% end %>
        </li>        

        <li class="linkedin">
          <%= link_to("#") do %>
            <i class="icon-linkedin icon-2x"></i>
          <% end %>
        </li>
      </ul>
</div>
</div>