  <div class="row">
  <div class="col-md-4 col-sm-7 col-xs-12 text-center">
  <address
  <strong>Suzanne Altshuler</strong>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
  <abbr title="Phone">P:</abbr> (732) 986-3404 

</address>
  </div>
    <div class="col-md-4  col-md-offset-4 col-sm-5 col-xs-12  text-center social_links ">
      <ul class="list-inline text-center">
          <strong>Contact Me:&nbsp;&nbsp;</strong>
        <li class="email"><%= mail_to("suzanne@suzannealtshuler.com") do %>
          <i class="icon-envelope-alt icon-2x"></i>
          <% end %>
        </li>

<!--         <li class="facebook">
          <%= link_to("#") do %>
            <i class="icon-facebook icon-2x"></i>
          <% end %>
        </li> -->
        <li class="twitter">
          <%= link_to("#") do %>
            <i class="icon-twitter icon-2x"></i>
          <% end %>
        </li>        

        <li class="linkedin">
          <%= link_to("#") do %>
            <i class="icon-linkedin icon-2x"></i>
          <% end %>

      </ul>

    </div>
  </div>