<div class="hidden-xs">

<a class="twitter-timeline"  href="https://twitter.com/SAltshuler"  data-widget-id="376093314283352064">Tweets by @SAltshuler</a>
</div>
  <script src="//platform.twitter.com/widgets.js"></script>


